<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div id="picker" class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <h4><%= "Choose All Relevant Subjects" %></h4></br>
  <div class="field">
    <% for subject in Subject.find(:all, :order=>"name") %>
      <div>
        <%= check_box_tag "post[subject_ids][]", subject.id, @post.subjects.include?(subject) %>
        <%= subject.name %>
      </div>
    <% end %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Publish This Post", class: "btn btn-large btn-primary"%>
  </div>
  <%= @post.user %>
<% end %>

